USE [master]
GO
/****** Object:  Database [MyS]    Script Date: 16.03.2024 00:25:17 ******/
CREATE DATABASE [MyS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyS]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 16.03.2024 00:25:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[id] [nvarchar](11) NOT NULL,
	[password] [nvarchar](11) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colors]    Script Date: 16.03.2024 00:25:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colors](
	[RENK] [nvarchar](50) NOT NULL,
	[XS] [bit] NULL,
	[S] [bit] NULL,
	[M] [bit] NULL,
	[L] [bit] NULL,
	[XL] [bit] NULL,
	[XXL] [bit] NULL,
	[30] [bit] NULL,
	[29] [bit] NULL,
	[3XL] [bit] NULL,
	[31] [bit] NULL,
	[34] [bit] NULL,
	[32] [bit] NULL,
	[33] [bit] NULL,
	[36] [bit] NULL,
	[STD] [bit] NULL,
	[44] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itemscounter]    Script Date: 16.03.2024 00:25:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itemscounter](
	[itemscount] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 16.03.2024 00:25:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[urun_kodu] [nvarchar](4) NOT NULL,
	[urun_ismi] [varchar](30) NOT NULL,
	[urun_rengi] [varchar](50) NOT NULL,
	[urun_adet] [nvarchar](6) NULL,
	[urun_fiyat] [nvarchar](50) NOT NULL,
	[urun_beden] [nchar](10) NULL,
	[urun_id] [nvarchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
